/*
  Student Name:   Neo Lee(W0435748)
  Date:           Dec 20, 2019  
  Program Title:  The Battleship Game (Web version)
*/

/*
----------------------------------------------------- 
 Reset Style Sheet                                          
-----------------------------------------------------
*/
address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/*
----------------------------------------------------- 
 layout define                                            
-----------------------------------------------------
*/

/* define body part */
body {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  /* min-width: 640px;
  max-width: 960px; */
  background-color: rgb(125, 109, 127);
}

.result {
  align-items: end;
}

/* define grid for 3 sections */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr 5fr;
  grid-template-rows: auto;
}

/* On screens that are 360px or less, set the background color to blue */
@media screen and (max-width: 360px) {
  /* define grid for 3 sections */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/*
----------------------------------------------------- 
 font define
-----------------------------------------------------
*/

/*
----------------------------------------------------- 
 each section styling
-----------------------------------------------------
*/

/* body section ------------------------------------- */
body h1 {
  font-family: "Bangers", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* battle section ------------------------------------- */
.battle button {
  width: 100%;
  height: 100%;
  padding: 0.7rem;
  background-color: darkgray;
}

/* result section ------------------------------------- */
.result h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  color: black;
}

.result h3#hit_title {
  color: red;
}

.result h3#miss_title {
  color: blue;
}

.result p {
  font-size: 1.3rem;
  margin-left: 2rem;
  color: yellow;
}

/* directions section ------------------------------------- */
.direction h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.direction blockquote {
  font-size: 1.2rem;
}

/*
----------------------------------------------------- 
 modal popup window styling
-----------------------------------------------------
*/
.modal-header h2 {
  font-size: 3rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 50px; //Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
