/* definition of the character encording */

@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Neo Lee (w0435748)
   Date:   Nov 2, 2019
	
   Filename: br_styles.css

*/


/* html background image */

html {
    background-image: url("br_paper.png");
}


/* page works between 640 and 960 px */

body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-width: 640px;
    max-width: 960px;
}


/* header define */

header {
    background: radial-gradient(at bottom, red 35%, yellow 45%, rgb(132, 201, 247) 50%);
    box-shadow: inset gray 2px 2px 5px, inset gray -2px -2px 5px;
}


/* header image define */

header>img {
    width: 100%;
    display: block;
    margin: 0;
}


/* layout with grid 1row 2columes */

#grid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 76% 24%;
}

#left-col {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: rgb(136, 173, 241); */
    padding: 0.8em;
    padding-top: 1.2em;
    box-shadow: inset lightgray 2px 2px 5px, inset gray -2px -2px 5px;
}

#right-col {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-color: rgb(177, 130, 240); */
    padding-top: 1.2em;
    box-shadow: inset lightgray 2px 2px 5px, inset gray -2px -2px 5px;
    /* background: linear-gradient(to right, white, lightgray, darkgray, gray); */
}


/* Header Navigation */

header>nav {
    display: table;
    width: 100%;
    /* background-color: rgb(blue); */
    box-shadow: inset lightgray 2px 2px 5px, inset gray -2px -2px 5px;
}

header>nav>ul {
    display: table-row;
    list-style-type: none;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
    width: 20%;
}

header>nav a {
    display: block;
    width: 100%;
}

header>nav {
    height: 2rem;
    padding-top: 5px;
}

header>nav a {
    color: rgb(blue);
    text-decoration: none;
}

header>nav a:hover {
    -webkit-animation: ha_move 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: ha_move 3s infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes ha_move {
    50% {
        color: white;
        text-decoration: underline;
    }
}

@keyframes ha_move {
    50% {
        color: white;
        text-decoration: underline;
    }
}


/* title define */

.title-h3 {
    border-style: double;
    border-color: black;
    border-width: medium;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(to right, white, lightgray, lightgray, lightgray, darkgray);
}

.title-h3 h3 {
    color: white;
    text-shadow: black 0px 0px 3px, green 4px 4px 4px, blue 0px 0px 55px;
    padding-left: 3%;
    padding-top: 12px;
}


/* Views */


/* big image */

#left-row-1:hover #big-img {
    transform: scale(0.95, 0.95);
    border-style: outset;
    border-color: gray;
    border-width: 0.7em;
}

#big-img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}


/* flex display set image views */

#left-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-row-2 a {
    flex: auto;
}

#left-row-2 img {
    flex: auto;
    width: 90%;
    height: auto;
    /* opacity: 0.7; */
    border-radius: 3px;
    filter: blur(1px);
}

#left-row-2 a :hover {
    /* opacity: 1; */
    filter: none;
}


/* Listing Description */

#left-row-4>article[id^="left-col-4"] {
    width: 40%;
}

#left-row-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left-row-5>blockquote {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


/* Listing 20481 */

#link h1 {
    text-align: center;
}

.pulldown-menu {
    padding-left: 10px;
}


/* Fonts */

header>nav a {
    font-family: 'Wallpoet', cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

.title-h3 h3 {
    font-family: 'Monoton', cursive;
}

#left-col p {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
}

.sub-title {
    font-size: 1.2em;
}

#right-col {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6em;
}

#link h1 {
    font-size: 1.5em;
}


/* right sub menu */

ul.sub-menu {
    display: none;
}

a.submenu-title:hover+ul.sub-menu {
    display: block;
    padding-left: 5%;
}

ul.sub-menu:hover {
    display: block;
    padding-left: 5%;
}