/* 
    Title:          Neo's portfolio (Final Project)
    Author:         Neo Lee (W0435748)
    Date:           Dec 05, 2019
    Description:    Make a personal portfolio pages (Work sample page)

 */

/* for work sample a tag */
.work_sample {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 25px;
}

.shadow {
  margin-bottom: 1rem !important;
}
