/* 
    Title:          Neo's portfolio (Final Project)
    Author:         Neo Lee (W0435748)
    Date:           Dec 05, 2019
    Description:    Make a personal portfolio pages (Work sample page)

 */

a {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 25px;
}
